body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

.anchor {
  font-weight: 700;
  color: black;
}

.navIcon {
  width: 2rem;
  height: 2rem;
}

.footerIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.linkHover:hover {
  opacity: 0.6;
}
